.prices {

  &__nav {
    list-style: none;
  }

  &__nav-item {
    display: inline-block;
    text-align: center;
    background: #dad9d6;
    margin: 0 15px;
    font-size: 18px;
    min-width: 150px;
    border-radius: 5px;

    a {
      display: inline-block;
      padding: 7px 14px;
      color: #7b7b7b;
    }
  }

  &__nav-item.is-active {
    background: #e6a610;

    a {
      color: #fff;
    }
  }

  &__content-item {
    display: none;
    width: 400px;
    height: 400px;
  }

  &__content-item.is-active {
    display: block;
  }
}