.k-promo {
  width: 100%;
  min-height: 690px;
  background: url(../img/bg--promo.png) no-repeat;
  background-size: cover;
  background-position: left;
  padding: 90px 0 65px 0;
  position: relative;
  overflow: hidden;

  .art {
    height: 100%;
    width: 67%;
    background-image: url(../img/bg--promo-upper.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__wrapper {
    padding: 30px;
    text-align: center;

    @media (min-width: @screen-md) {
      text-align: left;
      background-color: #e6a610;
      border: 5px solid #fff;
      border-radius: 2px;
      box-shadow: inset 0px 3px 16px 0px rgba(0, 0, 0, 0.63);
    }
  }

  &__inner {
    max-width: 530px;

    @media (max-width: @screen-md) {
      margin: auto;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    color: @white;
    text-transform: uppercase;
    text-align: left;
    max-width: 95%;

    @media (max-width: @screen-md) {
      margin: auto;
    }
  }

  &__desc {
    color: @white;
    font-size: 47px;
    margin-bottom: 30px;
    text-align: left;

    @media (max-width: @screen-md) {
      text-align: center;
    }
  }

  &__desc-price {
    display: inline-block;
    color: @black;
    font-size: 76px;
  }

  &__desc-per-square-metre {
    display: inline-block;
    color: @black;
    font-size: 36px;
    line-height: 30px;
    text-align: left;

    span {
      display: block;
    }
  }

  &__btn {
    display: inline-block;
    position: relative;
    color: #e6a610;
    background-color: @white;
    text-transform: uppercase;
    padding: 15px 20px;
    font-size: 34px;
    line-height: 36px;
  }

  &__slider-wrapper {
    position: relative;
  }

  &__slider {
    background-color: @white;
    width: 100%;
    min-height: 270px;
    padding: 15px 80px;
    margin-bottom: 30px;
    transform: translateX(-60px);

    @media (max-width: @screen-md) {
      transform: translateX(0);
    }

    .owl-item {
      text-align: center;

      img {
        border: 4px solid #e6a610;
        margin-bottom: 10px;
      }

      span {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .owl-theme .owl-nav {
      position: absolute;
      margin: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 48px;
      left: 0;
      right: 0;

      [class*='owl-'] {
        background: transparent;
      }

      .owl-prev {
        position: absolute;
        left: -70px;
      }

      .owl-next {
        position: absolute;
        right: -70px;
      }
    }
  }
}
